@font-face {
    font-family: "Dash-Of-Salt";
    src: 
        url(fonts/A\ Dash\ of\ Salt.woff2) format("woff2"),
        url(fonts/A\ Dash\ of\ Salt.woff) format("woff");
}

:root {
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {height:100%}

body {
    background-color: #EAEDF0;
    font-family: "Halvetica", "Ariel", sans-serif;
    line-height: 1.5;
    display: flex;
    width: 100%;
    border: solid 1px black;
}

div.right-sidebar {
    width: 60%;
}

div.left-sidebar {
    width: 40%;
    background-image: url(./amanda-chapman-0j0rOPiZuPY-unsplash.jpg);
    /* background-size:cover; */
    background-size: cover;
    resize: both;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

div.logo-ribbon {
    display: flex;
    height: 30%;
    background-color: rgba(3, 3, 30, 0.5);
    justify-content: center;
    /* background-color: #3A3D30; */
}

div.logo-text {
    color: white;
    font-family: Dash-Of-Salt;
    font-size: 6em;
}

div.logo-ribbon img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}